@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;500;700;800&family=Poiret+One&family=Red+Hat+Mono:wght@300;400&family=Roboto+Mono:wght@300&family=Roboto:wght@100;300;500&display=swap");
@import './utils/breakpoints';


:root {
  --font-base: "Open Sans", sans-serif;
  --font-mono: "Red Hat Mono", monospace;
  --font-logo: "Poiret One", cursive;

  --primary-color: #edf2f8;
  --secondary-color: #2d936c;
  --black-color: #030303;
  --lightGray-color: #f1efef;
  --darkGray-color: #3b3b3b;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --danger-color: #a34040;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
  background-color: var(--lightGray-color);
  font-size: 16px;

 

  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app__container {
  min-height: 100vh;
  min-width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 5em 2em;

  > * {
    flex-direction: column;

    @include breakpoint(laptop) {
      flex-direction: row;
    }
  }
  
}

.flex__item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
}

.section__header {
  margin: 0;
  color: var(--darkGray-color);
  // border-bottom: 2px solid #cdcfc9;
  font-size: 2.2em;
  font-weight: 700;
  align-self: flex-start;
  justify-self: flex-start;


  @include breakpoint(tablet) {
    flex-direction: column;
    font-size: 3em;
  }
}

.section__subheader {
  margin: 0;
  margin-bottom: 1em;
  font-size: 1.25em;
  font-weight: 400;
  align-self: flex-start;
  justify-self: flex-start;
}

.hero__bg {
  background: #b79891; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #94716b,
    #b79891
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #94716b,
    #b79891
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-size: 8px;

  // @include breakpoint(mobileonly) {
  //   // font-size: 9px;
  // }
}
