.about__container {
    // align-self: center;
    flex: 1;
    display: flex;
    min-width: 100%;
    flex-direction: row;
    font-size: 1.4em;
    line-height: 1.6;

    // @include breakpoint(tablet) {
    //     flex-direction: column;
    //   }
}

.bio__container {
    // padding: 0 5em;
    

}
.skills__container {
    // padding: 0 5em;

    ul {
        // margin: 0;
        // padding: 0;
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;
    }
}