.form__container {
  min-width: 100%;
  display: flex;
}

.contact__form {
  min-width: 100%;
  display: flex;
  flex-direction: column;

  > * {
    margin: 0;
    margin-bottom: 1.5em;
    font-size: 1rem;
  }

  .input__field {
    display: flex;
    flex-direction: column;
    position: relative;

    input {
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 0.2rem;
      font-family: inherit;
      transition: 100ms border ease-in-out;

      &:focus {
        outline: none;
        background-color: #f8f8f8;
      }
    }

    textarea {
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      font-family: inherit;
      resize: none;

      &:focus {
        outline: none;
        background-color: #f8f8f8;
      }
    }

    .form__error {
      color: #db5461;
      margin: 0;
      position: absolute;
      bottom: -18px;
      font-size: 0.9rem;
    }
  }
}
