.card__container {
  font-size: 2.75rem;
  font-weight: 800;
}

.card {
  color: #090c08;

  width: 450px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.card__header {
  position: relative;

  .project__img {
    border-radius: 10px;
    max-width: 100%;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }

  .github__link {
    position: absolute;
    right: 40px;
    bottom: -20px;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    background: #cdcfc9;
    background: rgba(245, 244, 244, 0.2);
    color: rgb(37, 34, 34);
    border-radius: 50%;
    border: 1px solid rgb(220, 222, 228);
    backdrop-filter: blur(2px);
    margin: 0;
    padding: 0.2em;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

    // height: 50px;
    // width: 50px
  }
}

.card__body {
  padding: 1rem;

  h1 {
    margin-bottom: 0;
    color: rgb(37, 34, 34);
  }

  h3 {
    font-family: "Roboto Monospace", monospace;
    margin: 0;
    text-decoration: underline;
    font-size: 0.9em;
    font-weight: 200;
  }

  p {
    color: #2a2b26;
    line-height: 1.3;
    font-size: 1.2em;
  }
}

.tags {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  font-size: 0.9em;
  font-weight: 100;

  .tech {
    font-family: "Roboto", monospace;
    background: #cdcfc9;
    margin: 0 0.2em;
    padding: 0.1em 0.3em;
    border-radius: 4px;
    color: #55564d;
  }

  .github-link {
    border-bottom: 1px solid white;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon {
      margin: 0 0.5em;
    }
  }
}

.card__footer {
  width: 100%;
  font-family: "Roboto", monospace;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    margin: 0;
  }

  a {
    // font-size: .9em;
    margin: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #55564d;

    // border-bottom: 2px solid #55564D
  }

}




.site__link {
  border-radius: 4px;
  display: flex;
  align-items: center;

  padding: 0.1em 0.3em;
  p {
    margin-bottom: 3px;
    margin-left: 4px;
  }
}